<!-- start custom footer snippets -->
<div style="background-color: #333; padding: 20px; text-align: center;">
  <p style="color: white; font-size: 24px;">⭐ Liked this blog? Give it a <a href="https://github.com/hackcommander" style="color: white; font-weight: bold;">GitHub star</a>! ⭐</p>
  <p style="color: white; font-size: 24px;">🔎 Connect with me on <a href="https://www.linkedin.com/in/%E2%98%91iv%C3%A1n-santos-malpica-1023a11b4/" style="color: white; font-weight: bold;">LinkedIn</a> for more hacking and bug bounty content! 🔎</p>
  <p style="color: white; font-size: 24px;">☕️ If you found this blog helpful, consider <a href="https://www.buymeacoffee.com/ivansantos" style="color: white; font-weight: bold;">buying me a coffee</a>. Thanks a latte! ☕️</p>
</div>
<!-- end custom footer snippets -->
